# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/
logs/
monitor-api/build/
monitor-impl/build/
monitor-impl/src/test/

monitored-cache/build/
monitored-cache/src/test/

monitored-entry/build/
monitored-entry/src/test/

synchroniser/build/
synchroniser/src/test/

recv/

